<!DOCTYPE html>
<html lang="en" ng-app="currencyCounter">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AngularJS Example</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//code.angularjs.org/1.5.3/angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body ng-controller="CurrencyCounterCtrl">

        <label>Quarters</label><input ng-model="quarters"/>
        <input ng-model="dimes"/>
        <input ng-model="nickels"/>
        <input ng-model="pennies"/>
        <button ng-click="totalIt()">Count</button>

        Total: {{total | currency }}

    </body>
</html>
